<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521564985210-88v01nn5asavodl87thqrctq0imc2mt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521564985210-88v01nn5asavodl87thqrctq0imc2mt9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521564985210-sm2bbeisqu721agddd3hsa2s2vbou94v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAj3j-NFUlMna1dveASLNB7NL6ELFhCWw</string>
	<key>GCM_SENDER_ID</key>
	<string>521564985210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.login</string>
	<key>PROJECT_ID</key>
	<string>bear-man</string>
	<key>STORAGE_BUCKET</key>
	<string>bear-man.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521564985210:ios:f75ca9f4a9cab5a91468c3</string>
</dict>
</plist>